In [ ]:
!pip install yahoo_fin

In [ ]:
import math
import pandas as pd

In [ ]:
from yahoo_fin import options

netflix = options.get_expiration_dates("nflx")
print(len(netflix))

callsnetflix = options.get_calls("nflx")
list(callsnetflix.columns)

15

In [ ]:
callsNflx

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
0,NFLX220826C00100000,2022-08-23 12:06PM EDT,100.0,124.50,0.0,0.0,0.0,-,4,0,0.00%
1,NFLX220826C00105000,2022-08-23 1:30PM EDT,105.0,122.15,0.0,0.0,0.0,-,1,0,0.00%
2,NFLX220826C00110000,2022-08-23 3:57PM EDT,110.0,114.70,0.0,0.0,0.0,-,3,0,0.00%
3,NFLX220826C00115000,2022-08-18 12:43PM EDT,115.0,129.75,0.0,0.0,0.0,-,1,0,0.00%
4,NFLX220826C00120000,2022-08-23 3:44PM EDT,120.0,105.60,0.0,0.0,0.0,-,1,0,0.00%
...,...,...,...,...,...,...,...,...,...,...,...
67,NFLX220826C00320000,2022-08-19 3:58PM EDT,320.0,0.01,0.0,0.0,0.0,-,3,0,50.00%
68,NFLX220826C00330000,2022-08-19 3:19PM EDT,330.0,0.01,0.0,0.0,0.0,-,20,0,50.00%
69,NFLX220826C00340000,2022-08-22 2:07PM EDT,340.0,0.01,0.0,0.0,0.0,-,15,0,50.00%
70,NFLX220826C00350000,2022-08-19 11:56AM EDT,350.0,0.01,0.0,0.0,0.0,-,9,0,50.00%
71,NFLX220826C00360000,2022-08-22 9:33AM EDT,360.0,0.01,0.0,0.0,0.0,-,2,0,50.00%

In [ ]:
myOption = callsNflx[(340 == callsnetflix["Strike"])]
opt = myOption["Last Price"]
myOption

,Contract Name,Last Trade Date,Strike,Last Price,Bid,Ask,Change,% Change,Volume,Open Interest,Implied Volatility
69,NFLX220826C00340000,2022-08-22 2:07PM EDT,340.0,0.01,0.0,0.0,0.0,-,15,0,50.00%